{% extends "base.html" %}
{% load staticfiles %}

{% block body %}


<div class="row" style="background-color: Gray; padding: 60px;">
    <div class="col-sm-6 col-sm-offset-3" style="background-color: DarkGray; padding: 60px;">
        <h1 align="center">DjangoBlog</h1>
        <div >
                <form action="" method="post">  {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Reset Password" class="btn btn-primary btn-lg btn-block" />
                </form>

         </div>
    </div>
</div>



<!-- <div>
<form action="" method="post">
{% csrf_token %}
{% if form.errors %}
    <p>Please correct the following fields:</p>
{% endif %}
<div class="reset_div">
        {% if form.old_password.errors %}

        <p class="error">
        {{ form.old_password.errors }}
        </p>{% endif %}

        <p><label for="old_password"{% if form.old_password.errors %} class="error"{% endif %}>Old Password:
        </label></p>
        <p>{{ form.old_password }}</p>
</div>

<div class="reset_div">
        {% if form.new_password.errors %}

        <p class="error">
        {{ form.new_password.errors }}
        </p>
        {% endif %}
        
        <p><label for="new_password"{% if form.new_password.errors %} class="error"{% endif %}>New Password:</label></p>
        <p>{{ form.new_password }}</p>
</div>

<p><input type="submit" value="Reset" /></p>
</form>
</div> -->
{% endblock %}
