{% extends "navbar.html" %}
{% load staticfiles %}

{% block body %}

<div class="row" style="background-color: Gray; padding: 60px;">
    <div class="col-sm-6 col-sm-offset-3" style="background-color: DarkGray; padding: 60px;">
        <h1 align="center">Change Password</h1>
        <div >
            <form action="" class="form-horizontal" method="post">{% csrf_token %}
	            {{ form.as_p }}
	            <input type="submit" value="Change Password" class="btn btn-primary btn-lg btn-block" />
            </form>
         </div>
    </div>
</div>

{% endblock %}
