{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="background-color: #876ff5; padding: 20px;">
        <h1 align="center">User Registrations Form</h1>
			<form method="post" action="">{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Sing Up" class="btn btn-primary btn-lg btn-block" />
			</form>
			<a href="{% url 'userauth:user_login' %}" class="btn-primary btn-lg btn-block">Login</a>
	    	<a href="{% url 'userauth:user_logout' %}" class="btn-primary btn-lg btn-block">Logout</a>
         </div>
    </div>
</div>

{% endblock %}
