{% extends "navbar.html" %}
{% load staticfiles %}
{% block body %}
<div class="login-container login-v2">
    <div class="login-box animated fadeInDown">
        <div class="login-body">
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-warning" {% endif %}>
                        <strong style="color: red;">{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="login-title"><strong>Welcome</strong>, Please login.</div>
            <form action="" class="form-horizontal" method="post">{% csrf_token %}
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-user"></span>
                        </div>
                        <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-lock"></span>
                        </div>                                
                        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <a href="{% url 'userauth:user_reset_password' %}" class="btn btn-link btn-block">Forgot your password?</a>
                </div>          
                <div class="col-md-6 text-right">
                    <a href="{% url 'userauth:user_registration' %}">Create an account</a>
                </div>              
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-lg btn-block">Login</button>
                </div>
            </div>
            </form>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2015 AppName
            </div>
            <div class="pull-right">
                <a href="#">About</a> |
                <a href="#">Privacy</a> |
                <a href="#">Contact Us</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
