{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="body-full-height">

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <head>
        <title>User Log-in</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}"/>
        {% if user.is_authenticated %}
            <meta http-equiv="Refresh" content="0;url=/">
        {% endif %}
    
    </head>
    <body>

        <div class="login-container login-v2">
            {% csrf_token %}
            <div class="login-box animated fadeInDown">
                <div class="login-logo"> </div>
                <div class="login-body">
                    <div class="login-title"><strong>Welcome</strong>, Please login.</div>
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Your username and password didn't match. Please try again.</strong>
                        </div>
                    {% endif %}

                    <form action="." class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-user"></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" id="id_username" maxlength="254"  name="username" required autofocus=""/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-lock"></span>
                                    </div>    
                                    <input type="password" class="form-control"name="password" placeholder="Password" id="id_password" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <a href="/password_reset/">Forgot your password?</a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="{% url 'blog:register' %}">Create an account</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                            <button class="btn btn-primary btn-lg btn-block">Login</button>
                            <input type="hidden" name="next" value="/" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                    &copy; 2015 BlogApp
                    </div>
                    <div class="pull-right">
                    <a href="#">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>



