{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="body-full-height">
    <head> 
        <title>Atlant - Responsive Bootstrap Admin Template</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}"/>
    </head>
    <body>
        <div class="registration-container">
            <div class="registration-box animated fadeInDown">
                <div class="registration-logo"></div>
                <div class="registration-body">
                    <div class="registration-title"><strong>Forgot</strong> Password?</div>
                    <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
                    <form action="" class="form-horizontal" method="post">
                        {% csrf_token %}
                        <h4>Your E-mail</h4>
                        {{ form.email.errors }}
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form.email }} 
                            </div>
                        </div>
                        <div class="form-group push-up-20">
                            <div class="col-md-6">
                                <button class="btn btn-danger btn-block">Reset Password</button>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'blog:register' %}" class="btn btn-link btn-block">Sign Up!</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="registration-footer">
                    <div class="pull-left">
                        &copy; 2015 BlogApp
                    </div>
                    <div class="pull-right">
                        <a href="#">About</a> |
                        <a href="#">Privacy</a> |
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>







