{% extends "base.html" %}
{% load customs_tags %}
{% load staticfiles %}
{% block jquery %}
{% endblock jquery %}
{% block body %}
<div class="panel panel-default">
<div class="panel-body posts">
<div class="post-item">
    <div class="row">
        <div>
            <h1>Category List</h1>
            {% if ca_list %}
                {% for post in ca_list %}
                    <ul>
                        <div class="row">
                            <li>
                                <h3>
                                    <div class="col-sm-8" style="margin-top: -5px;">
                                        <a href="#">{{ post.name }}</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="{% url 'category:delete_category' post.pk %}"> Delete</a>
                                    </div>
                                </h3>
                            </li>
                        </div>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock  %}