/* Hide the original object in Tabular inlines. */

td.original p {
  visibility: hidden;
}

.inline-group .tabular tr.has_original td {
  padding-top: 0.5em;
  padding-bottom: 0;
}

/* Drop the class prefix from the StackedInline showing the checklist method. */

.inline-related.dynamic-method h3 {
  color: #999;
}

.inline-related.dynamic-method h3 b {
  display: none;
}

.inline-related.dynamic-method h3 a.stacked_collapse-toggle {
  color: #5B80B2;
}
