<!DOCTYPE html>
<html>
<head>
	<title>create post</title>
	<h1>create post</h1>
</head>
<script type='text/javascript'>
	$('input[type="text"]').addClass('form-control');
	$('textarea').addClass('form-control');
</script>
<body>
	<form action="" method="post" enctype="multipart/form-data">
		{% if posts %}
			{% for post in posts %}
			<h3 style="color:orange;">{{post.postname}}</h3>
			<h4 style="color:green;">{{post.blogname}}</h5>
			{{post.text}}
			<br/>
			{% if post.picture %}
				<img src='{{ post.picture.url }}'/><!-- height="200" width="200" border="1"/>-->
			{% endif %}	
			<br/>
			<h4 style="color:green;">{{post.visibility}}</h5>
			{% endfor %}
		{% endif %}	

		<!-- {% for post in post_list %}
		{{post}}
		<br/>
		{% endfor %} -->
		<hr/>
		{% csrf_token %}
		
		{{form.as_p}}

		<input type='submit' value='create post' class='btn btn-primary btn-lg btn-block'/>
	</form>
</body>
</html>