{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<div>
    <div  class="col-sm-4 bg-info" >

    </div>


    <div class="row">
    <div  class="col-sm-8 bg-info ">
    <div class="col-md-3">
      <h3 class="page-header" align="left">List Of All Post</h3>
        {% if image_display %}
          <ul>
            <li>{% for post in image_list %}</li><p>Post Name:-</p>

            <li>{{ post }} <p>
              {% for post in image_display %}
              {{ post }} 
                <br />
              {% endfor %}
                <br /><p>Comments:-</p>
              {% for post in post_list %}
              {{ post }}<a href="{% url 'post:delete_comment' post.pk %}"> Delete</a></li></p>
                <hr />
              {% endfor %} <p><a href="{% url 'post:mycomment'%}?postname={{ post.title }}">comment</a></p>
                      <form method="post" action="">{% csrf_token %}
                      {{ user_form.as_p }}
                      <input type="submit" value="Comment"></input>
                <!--           <li><a href="{% url 'post:commentview' %}">Comment List</a></li>
                          <li><a href="{% url 'post:comment_delete' %}">Delete Comment</a></li> -->

                      </form>
            </li>
          </ul>
          <hr />
                {% endfor %}
        {% else %}

        {% endif %}
    </div>
    </div>
    </div>
</div>


          <li><a href="{% url 'post:comment_delete' %}">Delete Comment</a></li>


{% endblock %}