{% extends "base.html" %}
{% load customs_tags %}
{% load staticfiles %}
{% block jquery %}
{% endblock jquery %}
{% block body %}

<div class="panel panel-default">
<div class="panel-body posts">    
<div class="post-item">
<div class="row">
    {% if user_post %}
        {% for post in user_post %}                              
            <div class="col-xs-12 col-md-6" >
                <div class="post-title">
                    <a href="{% url 'post:post_detail' post.pk %}">{{ post.title|safe }}</a>
                </div>
                <div class="post-date">
                    <span class="fa fa-calendar"></span> 
                        {{ post.created }}/ 
                        <a href="pages-blog-post.html#comments">3 Comments</a>
                </div>
                <div class="post-text">
                        {% if post.image.url %}
                            <div class="text-center" id="user_post">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" height="200" width="300" >
                            </div>
                        {% else %}
                            <div class="text-center" id="user_post">
                                <img src="/media/user/profile_pictures/no-image.jpg" style=" width: 50px; height: 50px " />
                            </div>
                        {% endif %}
        
                    <!-- <img src="{{ post.image.url }}" alt="{{ post.title }}" height="200" width="300" > -->
                </div>
                <div class="post-text">
                   {{ post.body | truncatechars:"250" | safe }}
                </div>
                <div class="caption">

                    <!-- <p>Athor:- {{ post.author|safe }}</p>
                    <p>Comments:- {{ comment_count }}</p>
                    <p>Likes:- {{ like_count }}</p> -->
                    <div class="post-row">
                        <div class="post-info">
                            <span class="fa fa-thumbs-up"></span> {{ like_count }} - <span class="fa fa-eye"></span> {{ view_count }} - <span class="fa fa-star"></span> 322
                        </div>
                        <form method="post" action="{% url 'post:post_detail' post.pk %}" name="{{ post.title }}" id="{{ post.title }}">
                            {% csrf_token %}
                            <input type="hidden" name="post_name" value="{{ post.title }}"></input>
                            <button class="btn btn-default btn-rounded pull-right" style="margin-right: 80px;">Read more &RightArrow;</button><br /><br />
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>     
 {% endblock  %}