{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<form method="post" action="">{% csrf_token %}
{% if data %}
<input type="hidden" name="unlike" value="True"></input>
<button type="submit">Unlike</button>{{ like_count }}
{% else %}
<input type="hidden" name="like" value="True"></input>
<button type="submit">Like</button>{{ like_count }}
{% endif %}
</form>
<div>
   <h1>My New Post</h1>

   {% for post in post_list %}
   {{ post }}
   <hr />
   {% endfor %}
</div>

{% endblock body%}