<!DOCTYPE html>
<html>
<head>
	<title>Post Details</title>
	<h1>Post Details</h1>
	<hr/>
</head>
<script type='text/javascript'>
	$('input[type="text"]').addClass('form-control');
	$('textarea').addClass('form-control');
</script>
<body>
	<form action="" method="post" enctype="multipart/form-data">
		{% if posts %}
			
			{% for post in posts %}
			<ul>
			<h3 style="color:orange;"><i>{{post.postname}}</i></h3>
			<li><h4 style="color:green;">{{post.blogname}}</h4></li>
			<li><h4 style="color:green;">{{post.text}}</h4></li>
			{% if post.picture %}
				<img src="{{ post.picture.url }}" height="200" width="200" border="1"/>
			{% endif %}	
			<li><h4 style="color:green;">{{post.visibility}}</h4></li>
			<li><a href="/post/commentcreate/">comment</a></li>
			</ul>
			<hr/>

			{% endfor %}
		{% endif %}	
	
	</form>
</body>
</html>