{% extends 'base.html' %}

{% block title %}Add Page{% endblock %}

{% block address %}
    <li><a href="{% url 'blog:add_post' %}">Add Post</a></li>
{% endblock %}

{% block body %}

            <div class="editor col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body posts">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-item">
                                    <div class="post-title">
                                        Add New Post:
                                    </div>
                                    <form enctype="multipart/form-data" id="user_form" action="." class="form-horizontal" method="post"  />
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" maxlength="100" placeholder="Title" name="title" required='True' />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <select name="category_name" required='True'>
                                                    <option >--Select Category--</option>
                                                    {% for category in categories %}
                                                        <option >{{category.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control"  placeholder="Details" name="details" required='True' />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="file" accept="image/*" class="fileinput btn-info" name="thumb" data-filename-placement="inside" title="Select Thumb Image"/>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group push-up-30">
                                            <div class="col-md-6">    
                                                <button class="btn btn-success btn-block">Add Post</button>
                                            </div>
                                        </div>
                                        
                                    </form>

                                </div>
                            </div>
                        </div>  
                    </div>
                </div>        
            </div>   
            




{% endblock %}

