{% extends 'blog.html' %}

{% block title %}Add Page{% endblock %}

{% block address %}
    <li><a href="{% url 'blog:add_post' %}">Add Post</a></li>
{% endblock %}

{% block body %}

            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body posts">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="post-item">
                                    <div class="post-title">
                                        Add New Post:
                                    </div>
                                    {% for message in messages %}
                                                    {% if messages %}
                                                        <div class="alert alert-danger" role="alert">
                                                            <strong>{{ message }}</strong>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                
                                    <form enctype="multipart/form-data" id="user_form" action="." class="form-horizontal" method="post"  />
                                        {% csrf_token %}
                                        

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" maxlength="100" placeholder="Title" value="{{title}}" name="title" required='True' />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label for="sel1">Select Category:</label>
                                                <select class="form-control" name="category_name" required>
                                                    <option value=""> --Select Category -- </option>
                                                        {% for category in categories %}
                                                            <option value="{{category.name}}">{{category.name}}</option>
                                                        {% endfor %}
                                                </select>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 col-xs-12">
                                                {% load wysiwyg %}
                                                {% wysiwyg_setup %}
                                                <textarea name="details" rows="15" id="details">{{details}}</textarea>
                                                {% wysiwyg_editor "details" %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="file" accept="image/*" class="fileinput btn-info" name="thumb" data-filename-placement="inside" title="Select Display Image"/>
                                            </div>
                                        </div>
      
                                        <div class="form-group push-up-30">
                                            <div class="col-md-6">    
                                                <button class="btn btn-success btn-block">Add Post</button>
                                            </div>
                                        </div>
                                        
                                    </form>

                                </div>
                            </div>
                        </div>  
                    </div>
                </div>        
            </div>   
            

<script type='text/javascript'>
    $('input[type="text"]').addClass('form-control');
    $('textarea').addClass('form-control');
</script>


{% endblock %}

