{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Category List{% endblock %}

{% block address %}
<li><a href="/blog/category_list">Category List</a></li>
{% endblock %}
{% block body %}
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="post-item">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Categories</h3>
                  {% if categories %}
                  <div class="links">
                    {% for category in categories %}
                      <a href="/blog/category/{{category.name}}">{{ category.name }} <span class="label label-default">{{ category.total_posts }}</span></a>
                    {% endfor %}
                  </div>
                  {% else %}
                    <strong>No category available.</strong>
                  {% endif %}<br/>
                </div>
              </div>
              {%if user.is_authenticated%}
                <div class="links">
                  <center><a href="/blog/add_category/"><span class="fa fa-plus"></span> Add New Category</a></center>
                </div>
              {%endif%}
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Most Viewed</h3>
            <div class="links small">
                {% for top in top_viewed %}
                    <a href="/blog/view_post/{{top.id}}"><li>{{top.title}}</li></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


