{% extends 'blog.html' %}
{% load staticfiles %}
{% block address %}
<li><a href="/blog/category_list">Category List</a></li>
<li><a href="/blog/category/{{category_name}}">{{ category_name }}</a></li>
{% endblock %}
{%block body %}
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="post-item">
              <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ category_name }}</h3>
                    {% if posts %}
                      <div class="links">
                        <ul>
                          {% for post in posts %}
                            <li><a href="/blog/view_post/{{post.id}}">{{ post.title }}</a>
                            <span class="fa fa-thumbs-up"></span> {{ post.likes}} - 
                            <span class="fa fa-eye"></span> {{ post.views}} - 
                            <span class="fa fa-star"></span> {{post.stars}}</li><br>
                          {% endfor %}<br/>
                        </ul>
                      </div>
                    {% else %}
                      <strong>No pages currently in category.</strong>
                    {% endif %}<br/>
                      
                    {%if user.is_authenticated%}
                      <div class="links">
                        <a href="/blog/"> Add Post </a>
                      </div>
                    {%endif%}
                </div>
              </div>                                            
            </div>  
          </div>
        </div>                  
      </div>        
    </div>
  </div>	

{% endblock %}


