{% extends 'base.html' %}
{% load staticfiles %}
{% block address %}
<li><a href="/blog/edit_profile/">Edit Profile</a></li>
{% endblock %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-cogs"></span> Edit Profile</h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% for message in messages %}
                    {% if message.error %}
                        <div class="alert alert-danger" role="alert">
                            <strong>{{ message }}</strong>
                        </div>
                    {% elif message %}
                        <div class="alert alert-success" role="alert">
                            <strong>{{ message }}</strong>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
                <form action="." class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3><span class="fa fa-user"></span> {{user.first_name}} {{user.last_name}} </h3>
                            <p> {{profile.designation}} </p>
                            <div class="text-center" id="user_image">
                                <img src="/media/{{profile.profile_picture}}" class="img-thumbnail"/>
                            </div>
                        </div>
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <a href="#" class="btn btn-primary btn-block btn-rounded" data-toggle="modal" data-target="#modal_change_photo">Change Photo</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">#ID</label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" value="{{user.id}}" class="form-control" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Username</label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" name="username" value="{{user.username}}" class="form-control" disabled/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        
            <div class="col-md-6 col-sm-8 col-xs-7">

                <form action="." class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3><span class="fa fa-pencil"></span> Profile</h3>
                        </div>
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">First Name</label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" name="firstname" value="{{user.first_name}}" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Last Name</label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" name='lastname' value="{{user.last_name}}" class="form-control"/>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">E-mail</label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" value="{{user.email}}" class="form-control" />
                                </div>
                            </div>
                            {% if profile.birthdate %}
                                <a href="javascript:DateTimeShortcuts.openCalendar(0);" id="calendarlink0"><span class="date-icon" title="Choose a Date"></span></a>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">BirthDate</label>
                                    <div class="col-md-4 col-xs-7">
                                        {{profile.birthdate}}
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-5 control-label">BirthDate</label>
                                    <div class="col-md-4 col-xs-7">
                                        <input type="date" value="{{profile.birthdate}}" class="form-control"/>
                                    </div>
                                    </div>
                            {%endif %}
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Lives In</label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" value="{{profile.lives_in}}" name='lives_in' class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label">Designation</label>
                                <div class="col-md-9 col-xs-7">
                                    <input type="text" value="{{profile.designation}}" name='designation' class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-xs-5">
                                    <button class="btn btn-primary btn-rounded pull-right">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default form-horizontal">
                    <div class="panel-body">
                        <h3><span class="fa fa-info-circle"></span> Quick Info</h3>
                        <p>Some quick info about {{user.first_name}} {{user.last_name}}</p>
                    </div>
                    <div class="panel-body form-group-separated">
                        <div class="form-group">
                            <label class="col-md-4 col-xs-5 control-label">Last visit</label>
                            <div class="col-md-8 col-xs-7 line-height-30">{{user.last_login}}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-xs-5 control-label">Registration</label>
                            <div class="col-md-8 col-xs-7 line-height-30">{{user.date_joined}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal animated fadeIn" id="modal_change_photo" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="smallModalHead">Change photo</h4>
                </div>
                <form id="form" method="POST" enctype="multipart/form-data" role="form" action=".">
                    {% csrf_token %}
                    <div class="modal-body form-horizontal form-group-separated">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Select New Photo</label>
                            
                            <div class="col-md-4">
                                <input type="file" accept="image/JPEG" name="profile_picture" id="profile_picture" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="cp_accept">Accept</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <audio id="audio-alert" src="{% static 'audio/alert.mp3' %}" preload="auto"></audio>
    <audio id="audio-fail" src="{% static 'audio/fail.mp3'%}" preload="auto"></audio>
    <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-migrate.min.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js'%}"></script>  
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-file-input.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/form/jquery.form.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/cropper/cropper.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/settings.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/actions.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/demo_edit_profile.js'%}"></script>
{% endblock %}




