{% extends 'blog.html' %}
{% load staticfiles %}
{% block address %}
    <li><a href="/blog/">Posts</a></li>
{% endblock %}

{% block body %}
    <div class="page-title">                    
        <h2>Posts</h2>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body posts">
                <div class="row">
                    {% for posts in posts_list %}
                        <div class="col-md-6">
                            <div class="post-item">
                                <ul>
                                    <div class="post-title"><a href="/blog/view_post/{{posts.id}}" title="{{posts.title}}">{{posts.title | truncatechars:"45"}}</a></div>
                                    <div class="post-date"><span class="fa fa-calendar"></span> {{posts.created_on}} / <a href="pages-profile.html">by {{posts.user}}</a></div>
                                    {%if posts.thumb %}
                                        <img src="/media/{{posts.thumb}}" class="img-responsive img-text" style="height:200px;" />
                                    {% endif %}
                                    <div class="post-text">
                                        <p>{{posts.details | truncatechars:"250" | safe}}</p>
                                    </div>
                                    <div class="post-row">
                                        <div class="post-info">
                                            <span class="fa fa-thumbs-up"></span> {{posts.likes}} - <span class="fa fa-eye"></span> {{posts.views}} - <span class="fa fa-star"></span> {{posts.stars}}
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}