
{% extends 'base.html' %}
{% load staticfiles %}
{% block address %}
<li><a href="{% url 'blog:post_search' %}">Post Search</a></li>
{% endblock %}
{% block body %}
    <div class="page-title">                    
        <h2><a href="/"><span class="fa fa-arrow-circle-o-left"></span></a> {{post.title}}</h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row stacked">
                            <div class="col-md-12">
                                <form class="form-inline" id="user_form" method="post" action=".">
                                    {% csrf_token %}
                                    <input class="form-control" type="text" size="50" name="query" value="{{query}}" id="query" />
                                    <input class="btn btn-primary" type="submit" name="submit" value="Search" />
                                    <br />
                                </form>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Results</h3>
                                        <div class="panel-body">
                                            <div class="list-group">
                                                {% for message in messages %}
                                                    {% if messages %}
                                                        <div class="alert alert-danger" role="alert">
                                                            <strong>{{ message }}</strong>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="page-title">                    
                                                    <h4>Users:</h4>
                                                </div>
                                                {% for users in user_profile %}
                                                    <div class="sr-item">
                                                        <a href="/blog/user_profile/{{users.id}}" class="sr-item-title">{{ users.first_name }} {{users.last_name}}</a>
                                                        <div class="sr-item-link">/blog/user_profile/{{users.id}}</div>
                                                    </div><br>
                                                {% endfor %}<br>
                                                <div class="page-title">                    
                                                    <h4>Posts:</h4>
                                                </div>
                                                {% for post in posts %}
                                                    <div class="sr-item">
                                                        <a href="/blog/view_post/{{post.id}}" class="sr-item-title">{{ post.title }}</a>
                                                        <div class="sr-item-link">/blog/view_post/{{post.id}}</div>
                                                        <p>{{post.details | truncatechars:"100" | safe}}</p>
                                                    </div><br>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>                                            
                    </div>  
                </div>
            </div>
        </div>   
    </div>
{% endblock %}