{% extends 'blog.html' %}
{% load staticfiles %}

    <div class="page-title">                    
        <h2>Posts</h2>
    </div>
{% block body %}
    
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body posts">
                <div class="row">
                    {% for posts in posts_list %}
                        <div class="col-md-5">
                            <div class="post-item">
                                <ul>
                                    <div class="post-title"><a href="/blog/view_post/{{posts.id}}">{{posts.title}}</a></div>
                                    {%if posts.thumb %}
                                        <img src="media/{{posts.thumb}}" class="img-responsive img-text"/>
                                    {% endif %}
                                    <div class="post-text">
                                        <p>{{posts.details | truncatechars:"250"}}</p>                                            
                                    </div>
                                    <div class="post-row">
                                        <div class="post-info">
                                            <span class="fa fa-thumbs-up"></span> {{posts.likes}} - <span class="fa fa-eye"></span> {{posts.views}} - <span class="fa fa-star"></span> {{posts.stars}}
                                        </div>                                            
                                    </div>                                         
                                </ul> 
                            </div>
                        </div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </div>    
{% endblock %}