{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="body-full-height">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    
    <head>
        <title>Atlant - Responsive Bootstrap Admin Template</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}"/>
    </head>

    <body>
        <div class="registration-container">
            <div class="registration-box animated fadeInDown">
                <a href="/"><div class="registration-logo"> </div></a>
                <div class="registration-body">
                    <div class="registration-title"><strong>Registration</strong></div>
                    <div class="registration-subtitle"></div>
                    {% for message in messages %}
                        {% if message %}
                            <div class="alert alert-danger" role="alert">
                                <strong>{{ message }}</strong>
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                    <form enctype="multipart/form-data" id="user_form" action="{% url 'blog:register' %}" class="form-horizontal" method="post"  />
                            <h4>Personal info</h4>
                            {% csrf_token %}

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" maxlength="30" value="{{firstname}}" placeholder="First Name" name="firstname" required='True' />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" value="{{lastname}}" maxlength="30" placeholder="Last Name" name="lastname" required='True' />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="email" class="form-control" value="{{email}}" placeholder="E-Mail" maxlength="30" name="email" required='True' />
                                </div>
                            </div>
                             <div class="form-group">
                                <div class="col-md-12 ">
                                    <div class="input-group">
                                        <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                        <input type="text" name="birthdate" class="form-control datepicker" placeholder="Birthdate" value="{{birthdate}}" required/>
                                    </div>
                                </div>
                            </div>
                            <h4>Authentication</h4>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" value="{{username}}" placeholder="UserName" maxlength="30" name="username" required='True'/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="password" minlength="8" class="form-control" placeholder="Password" name="password1" required='True' />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="password" minlength="8" class="form-control" placeholder="Re-Enter Password" name="password2" required='True' />
                                </div>
                            </div>  
                            <div class="form-group push-up-30">
                                <div class="col-md-6">
                                    <a href="/login" class="btn btn-link btn-block">Already have account?</a>
                                </div>
                                <div class="col-md-6">    
                                    <button class="btn btn-danger btn-block">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="registration-footer">
                        <div class="pull-left">
                            &copy; 2015 BlogApp
                        </div>
                        <div class="pull-right">
                            <a href="#">About</a> |
                            <a href="#">Privacy</a> |
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-migrate.min.js'%}"></script>
        <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js'%}"></script>  
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-file-input.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/form/jquery.form.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/cropper/cropper.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/settings.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/demo_edit_profile.js'%}"></script>
    </body>

</html>






