{% extends 'blog.html' %}
{% load staticfiles %}
{% block address %}
    <li><a href="/blog/">Posts</a></li>
    <li><a href="/blog/view_posts/{{post.id}}">{{post.title}}</a></li>
{% endblock %}

{% block style %}
            img { 
                width:100%; 
            }
        
{% endblock %}

{% block body %}
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body posts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-item">
                            <div class="post-title">
                                {{ post.title }}
                            </div>
                            <div class="post-date"><span class="fa fa-calendar"></span> {{post.created_on}} / <a href="/blog/user_profile/{{post.user_id}}">by {{post.user}}</a></div>
                            <ul>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        {%if post.thumb %}
                                            <img src="/media/{{post.thumb}}" class="img-responsive img-text"/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p>{{post.details |safe }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h3>See also:</h3>
                                        <ul>
                                            <div class="post-lists">
                                                {% for list in see_also %}
                                                    {% if list != post %}
                                                        <li><h5><div><a href="/blog/view_post/{{list.id}}">{{list.title}}</a></div></h5></li>
                                                    {% endif %}   
                                                {% endfor %}
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="post-row">
                                            <div class="post-info">
                                                <form action="." method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {% if post_data.like %}
                                                        <button type="submit" class="btn btn-danger" name="unlike" value="1"><span class="fa fa-heart-o"></span>{{post.likes}}</button>
                                                    {%else%}
                                                        <button type="submit" class="btn" name="like" value="1"><span class="fa fa-heart"> </span>{{post.likes}}</button>
                                                    {%endif%}
                                                     - <b><span class="fa fa-eye"></span> {{post.views}}</b> - 
                                                    {%if post_data.star%}
                                                        <button type="submit" class="btn btn-warning" name="unstar" value="1"><span class="fa fa-star-o "></span>{{post.stars}}</button>
                                                    {%else%}
                                                        <button type="submit" name="star" class="btn" value="1"><span class="fa fa-star"></span>{{post.stars}}</button>
                                                    {%endif%}
                                                    <br><br>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h3>Comments:</h3>
                                        <form enctype="multipart/form-data" id="user_form" action="." class="form-horizontal" method="post"  />
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <textarea class="form-control" rows="3" id="comment" placeholder="Add Comment" value="{{comment}}" name="comment"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group push-up-30">
                                                <div class="col-md-6">
                                                    <button class="btn btn-info">Post Comment</button><br><br>
                                                </div>
                                            </div>
                                        </form>
                                       <div class="panel-body list-group list-group-contacts scroll">
                                            <ul class="media-list">
                                                {% for comments in view_comments %}
                                                    <li class="media">
                                                        <a class="pull-left " href="/blog/user_profile/{{post.user_id}}">
                                                            <img class="media-object img-text" src="/media/{{comments.userprofile.profile_picture}}" style="width:70px; height:70px; " alt="{{comments.user.username}}" width="64">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{comments.user.first_name}}{{comments.user.last_name}}</h4>
                                                            <p>{{comments.comment}}</p>
                                                            <p class="text-muted">{{comments.created_on}}</p>
                                                            
                                                            <p id="demo"></p>

                                                        </div><br><br> 
                                                    </li>
                                                {% endfor %}                                           
                                            </ul>
                                        </div>    
                                    </div>
                                </div>
                                

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p id="demo"></p>

    <script>
    var myObject, myArray;
    function myFunction(a, b) {
        return a * b;
    }
    myArray = [comments.user, user]
    myObject = myFunction.apply(myObject, myArray);      // Will return 20 
    document.getElementById("demo").innerHTML = myObject; 
    </script>
    
{% endblock %}