{% extends 'blog.html' %}
{% load staticfiles %}
{% block address %}
    <li><a href="/blog/">Posts</a></li>
    <li><a href="/blog/view_posts/{{post.id}}">{{post.title}}</a></li>
{% endblock %}

{% block style %}
            img { 
                width:100%; 
            }
        
{% endblock %}

{% block body %}
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body posts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-item">
                            <div class="post-title">
                                {{ post.title }}
                                {% if auther %}
                                    <div class="xn-icon-button pull-right"><a href="/blog/delete_comment/{{comments.id}}-{{post.id}}"  class="mb-control" data-box="#mb-delete" title="Delete Post"><span class="fa fa-remove"></a></span></div>
                                {% endif %}
                            </div>
                            <div class="post-date"><span class="fa fa-calendar"></span> {{post.created_on}} / <a href="/blog/user_profile/{{post.user_id}}">by {{post.user}}</a></div>
                            <ul>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        {%if post.thumb %}
                                            <img src="/media/{{post.thumb}}" class="img-responsive img-text"/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p>{{post.details |safe }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h3>See also:</h3>
                                        <ul>
                                            <div class="post-lists">
                                                {% for list in see_also %}
                                                    {% if list != post %}
                                                        <li><h5><div><a href="/blog/view_post/{{list.id}}">{{list.title}}</a></div></h5></li>
                                                    {% endif %}   
                                                {% endfor %}
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="post-row">
                                            <div class="post-info">
                                                <form action="." method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {% if post_data.like %}
                                                        <button type="submit" class="btn btn-danger" name="unlike" value="1"><span class="fa fa-heart-o"></span>{{post.likes}}</button>
                                                    {%else%}
                                                        <button type="submit" class="btn" name="like" value="1"><span class="fa fa-heart"> </span>{{post.likes}}</button>
                                                    {%endif%}
                                                     - <b><span class="fa fa-eye"></span> {{post.views}}</b> - 
                                                    {%if post_data.star%}
                                                        <button type="submit" class="btn btn-warning" name="unstar" value="1"><span class="fa fa-star-o "></span>{{post.stars}}</button>
                                                    {%else%}
                                                        <button type="submit" name="star" class="btn" value="1"><span class="fa fa-star"></span>{{post.stars}}</button>
                                                    {%endif%}
                                                    <br><br>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h3>Comments:</h3>
                                        <form enctype="multipart/form-data" id="user_form" action="." class="form-horizontal" method="post"  />
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <textarea class="form-control" rows="3" id="comment" placeholder="Add Comment" value="{{comment}}" name="comment"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group push-up-30">
                                                <div class="col-md-6">
                                                    <button class="btn btn-info">Post Comment</button><br><br>
                                                </div>
                                            </div>
                                        </form>
                                       <div class="panel-body list-group list-group-contacts scroll">
                                            <ul class="media-list">
                                                {% for comments in view_comments %}
                                                    <li class="media">
                                                        <a class="pull-left " href="/blog/user_profile/{{post.user_id}}">
                                                            <img class="media-object img-text" src="/media/{{comments.userprofile.profile_picture}}" style="width:70px; height:70px; " alt="{{comments.user.username}}" width="64">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="/blog/user_profile/{{post.user_id}}">{{comments.user.first_name}}{{comments.user.last_name}}</a>
                                                                {% ifequal comments.user user%}
                                                                    <li class="xn-icon-button pull-right"><a href="/blog/delete_comment/{{comments.id}}-{{post.id}}"><span class="fa fa-remove"></a></span>
                                                                {% else %}
                                                                    {% if auther %}
                                                                        <li class="xn-icon-button pull-right"><a href="/blog/delete_comment/{{comments.id}}-{{post.id}}"><span class="fa fa-remove"></a></span>
                                                                        {% endif %}
                                                                {% endifequal %}
                                                            </h4>
                                                            <p>{{comments.comment}}</p>
                                                            <p>{{comments.created_on}}</p>
                                                        </div><br><br> 
                                                    </li>
                                                {% endfor %}                                           
                                            </ul>
                                        </div>    
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="message-box animated fadeIn" data-sound="alert" id="mb-delete">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-remove"></span><strong>Delete The Post?</strong></div>
                <div class="mb-content">
                    <p>Are you sure you want to delete this post permanently?</p>                    
                    <p>Press No if you don't want to delete post. Press Yes to delete this post.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="/blog/delete_post/{{post.id}}" class="btn btn-danger btn-dl">Delete</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}