<!-- <div class="row">
    <div class="col-sm-12" style="padding: 200px; background-image: url('/static/blog/images/swami.jpg'); ">
    </div>
</div>  --> 
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="{% url 'category:category' %}">Category</a></li>
    <li><a href="{% url 'userblog:blog' %}">Blog</a></li>
    <li><a href="{% url 'userauth:user_login' %}">Login</a></li>
    <li><a href="{% url 'userauth:user_registration' %}">Registration</a></li>
    <li><a href="{% url 'post:frontpage' %}">Post</a></li>

  </ul>
</div>
